#offset-property {
margin: 30px;
  padding: 5px;
  border: 1px solid black;
  outline: 3px solid red;
  outline-offset: 20px
  ;
}

#offset-property2 {
 margin: 30px;
  padding: 5px;
  background:yellow;
  border: 1px solid black;
  outline: 3px solid red;
  outline-offset: 15px;
}

#offset-property3 {
     margin: 30px;
  padding: 5px;
  background:yellow;
  border: 1px solid black;
  outline: 3px solid red;
  outline-offset: -5px;
}